<div class="container-fluid">
  <div class="columns">
    <div class="column is-full">
      <div class="block">
        <nav class="navbar has-shadow" role="navigation" aria-label="main navigation"
          style="margin-bottom: 20px;margin-left: auto; margin-right: auto;width: 100%;">
          <div class="navbar-menu is-active">
            <div class="navbar-start">
              <a routerLinkActive="active" routerLink="posts" class="navbar-item">Post List</a>
              <a routerLinkActive="active" routerLink="new" class="navbar-item">Nouveau Post</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
