<!--<li [ngClass]="{'list-group-item':true,
                'list-group-item-success':post_title==='Mon premier post',
                'list-group-item-danger':post_title==='Mon deuxième post'}" style="list-style: none;">
    <h4 class="subtitle" [ngStyle]="{color:getPostColor()}" style="float:left;">
        <b>{{ post_title }}</b>
    </h4>
    <h4 class="subtitle" style="float: right;">
        {{ post_created_at | date: 'short' }}
    </h4><br><br><br>
    <div style="text-align: justify;">
        {{ post_content }}
    </div>    
    <button class="button is-rounded is-success" (click)="onLoveIts()">Love It!</button>&nbsp;
    <button class="button is-rounded is-danger">Don't love It!</button><br>
    <div>
        Like : 
    </div>
</li>-->
<div class="columns">
    <div class="column is-two-fifths">
        <h2 class="title">Les Postes</h2><hr>
        <div class="list-group">
            <button class="list-group-item" *ngFor="let p of posts">
                <h2 class="title">
                    {{ p.title }}
                    <button class="delete pull-right" (click)="deletePost(p)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </h2>
                <h3 class="subtitle" style="float: right;">
                    {{ p.createdAt | date: 'short' }}
                </h3><br><br><br>
                <h4 class="subtitle">
                    <p class="list-group-item">
                        {{ p.content }}
                    </p>
                </h4>
            </button>
            <button class="button is-rounded is-success" (click)="onLoveIts()">Love It!</button>&nbsp;
            <button class="button is-rounded is-danger">Don't love It!</button><br>
        </div><br>
        <button class="button is-link is-rounded" (click)="newPost()">
            Nouveau Poste
        </button>
    </div>
</div>